@font-face {
    font-family: "lxgw-r";
    src: url("../font/LXGWWenKaiGB-Regular.ttf") ;
}
@font-face {
    font-family: "lxgw-b";
    src: url("../font/LXGWWenKaiGB-Bold.ttf") ;
}
@font-face {
    font-family: "lxgw-l";
    src: url("../font/LXGWWenKaiGB-Light.ttf") ;
}
