html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'lxgw-r';
}

body{
    font-family: 'lxgw-r';
    min-width: 1000px;
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.title{
    position: fixed;
    top: 20%;
    width: 200px;
    margin: auto;
    font:700 150px Helvetica;
    color: #fff144;
    text-shadow: 0 0 4px rgb(22, 22, 23);
    z-index: 0;
    display: block;
}
section{
    margin: 0;
    z-index: 2;
    width: 100%;
    position: relative;
}
.menuHover{
    height: 0;
    width: 220px;
    opacity: 0.95;
    transition: .5s .1s;
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    top: 100px;
    right: 6%;
    z-index: 4;
    border-radius: 15px;
}
.menuHover.open{
    height: 400px;
    opacity: 1;
    transition: .5s .1s;
    box-shadow: 0 0 10px 1px rgba(17, 42, 58, 0.7), 0 0 20px 1px rgba(17, 42, 58, 0.7);
}
video{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -2;
    object-fit: cover;
    position: absolute;
}
.headerHover{
    float: left;
    width: 400px;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .5s .5s;
    clip-path: url('#svg1');
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.headerHover:hover{
    width: 600px;
    transition: all 1s .2s;
    background-color: rgba(0, 0, 0, 0.85);
}
.headerHover:hover h1{
    margin-left: 190px;
    transition: all 1s .2s;
    color: rgba(240, 248, 255, 1);
}
h1{
    transition: all 1s .5s;
    color: rgba(240, 248, 255, 0.8);
    display: block;
    margin-top: 100px;
    margin-left: 90px;
    cursor: default;
}
.explain{
    text-align: center;
    display: block;
    margin-left: -60px;
    margin-top: 60px;
    color:rgba(240, 248, 255, 1);
    transition: calc(var(--w)*0.5s) .1s;
    font:600 20px 'lxgw-b';
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
}
.headerHover:hover .explain{
    margin-left: calc(var(--w)*160px);
    transition: calc(var(--w)*0.5s) .5s;
    opacity: 1;
}
.headerHover:hover .explain:hover{
    color:rgba(240, 248, 255, 1);
    transition: 0.5s 0.01s;
    translate: -20% 0;
    text-align: center;
    text-shadow: 0 0 10px #ffffff,0 0 20px #ffffff;
}
#HoverContent{
    position: absolute;
    width: 250px;
    height: 60%;
    left: 70px;
    top:180px;
    color: aliceblue;
    z-index: -1;
    opacity: 0.8;
    text-align: start;
    writing-mode: vertical-lr;
    transition: 0.5s 0.5s;
    cursor: default;
}
.headerHover:hover #HoverContent{
    opacity: 0;
    translate: 0 10%;
    transition: 0.5s 0.2s;
}

.imgBox{
    width: 100%;
    height: 340px;
    position: relative;
}
.imgBox img{
    width: 200px;
    height: 200px;
    float: right;
    margin-top: 70px;
    margin-right: 60px;
    transition: .5s .5s;
}
.imgBox:hover img{
    transform: scale(1.1,1.1);
    transition: .5s .1s;
}
.imgBox:hover .imgBoxText{
    opacity: 0;
    transition: .5s 1ms;
    margin-left: 100px;
}
.imgBox:hover #imgBoxText2{
    margin-right: 100px;
}
#imgBox1 img{
    float: left;
    margin-left:60px;
}
#imgBox1 .imgBoxText{
    float: right;
    margin-right: 150px;
}
.imgBoxText{
    margin-top: 70px;
    margin-left: 150px;
    float: left;
    /*background-color: #45494a;*/
    height: 200px;
    opacity: 1;
    transition: .5s .1s;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}
.imgBoxContent{
    position: absolute;
    top: 70px;
    width: 200px;
    height: 200px;
    opacity: 0;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
    transition: .5s .1s;
    line-height: 200px;
}
#imgBoxContent1{
    left: 200px;
    cursor: pointer;
}
#imgBoxContent2{
    right: 200px;
    cursor: pointer;
}
.imgBox:hover #imgBoxContent1{
    transition: .5s .1s;
    left: 150px;
    opacity: 1;
}
.imgBox:hover #imgBoxContent2{
    transition: .5s .1s;
    opacity: 1;
    right: 150px;
}

.scrollText_scl{
    display: block;
}
#main{
    width: 100%;
    position: relative;
    background-image: url("../images/342.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.breakHover{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 120px;
    background-image: url("../images/8.jpg");
}
img{
    transition: .5s .1s;
}
img:hover,.imgBox:hover img:hover,#logo1:hover,#logo:hover{
    transform: scale(1.15,1.15);
    transition: .4s .1s cubic-bezier(.61,-0.56,.77,.48);
    cursor: pointer;
}
table{
    position: absolute;
    top: 45px;
    right: 10%;
    height: 30px;
}
.search{
    background-color: rgb(0,0,0,0);
    border: 1px solid azure;
    color: white;
}
.conBox.conBox2.conBox1{
    margin-left: -110px;
    transition: .5s .1s;
    opacity: 1;
}
.conBox.conBox2{
    margin-top: 20px;
    margin-left: -200px;
    transition: .5s .1s;
    opacity: 0;
}
